.login {
    background-color: #2e2b2b;
    border-radius: 1%;
    opacity: 0.9;
    padding: 7px;
}
.register {
    background-color: #2e2b2b;
    opacity: 0.9;
    padding: 7px;
}
.forgot {
    margin-top: 100px;
    background-color: #2e2b2b;
    border-radius: 1%;
    opacity: 0.9;
    padding: 7px;
}
/*Nav avatar dropdown*/
.profile-info {
    background-color: #2e2b2b;
    text-align: left;
    border-radius: 10%;
    opacity: 1;
    margin: 0 3px 13px 0;
    padding: 13px;
}
.edit-profile-avatar h3{
    border: 1px solid #ddd;
}
.profile-main {
    background-color: #2e2b2b;

    opacity: 0.9;
    padding: 3px;
}
.edit-profile table {
    color: #ddd;
}

.client-form {
    background-color: #2e2b2b;
    opacity: 0.9;
    padding: 7px;
}
.pro-form {
    background-color: #2e2b2b;
    opacity: 0.9;
    margin-top: 30px;
    padding: 7px;
}
.pro-panel-header {
    text-align: center;
    background-color: #2e2b2b;
    border-radius: 50%;
    opacity: 0.9;
    padding: 30px;
}
.pro-panel-header .header-content {

}
.pro-panel {
    background-color: #2e2b2b;
    opacity: 0.9;
    padding: 7px;
}
.pro-panel-feedback {
    background-color: #2e2b2b;
    opacity: 0.9;
    border: 1px solid #999;
    padding: 10px;

}
.edit-profession {
    background-color: #2e2b2b;
    opacity: 0.9;
    padding: 7px;
}
.edit-price {
    background-color: #2e2b2b;
    opacity: 0.9;
    padding: 7px;
}

